/.bsp/
/project/target/
/target/
/xml/target/
.DS_Store
/.vscode/
/.metals/
/.bloop/
/project/.bloop/
/project/project/target/
/project/project/project/target/
/project/project/metals.sbt
/project/metals.sbt
/pubmed/target/
/pubmed-utils/target/
/.idea/
/pubmed-db/target/
/pubmed-mongodb/target/
/project/project/
/eutils/target/
/bitvector/target/
/pubmed-models/target/
/pubmed-store/target/
.env
